
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {

  font-size: 16px;
  /* Default font size and line height */
}



h1 {
  font-size: 88px;
  font-weight: 900;
  background-color: #fcce00;
  color: white;
  text-align: center;
  font-size: 88px;
  margin: 8px 0;
   /* Default font, size, and margins */
}

h2 {
  background-color: #ff6b00;
  text-align: center;
  margin: 8px 0;
  color: white;
  font-size: 38px;
  font-weight: 900;

  /* Default font, size, and margins */
}


h3 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 900;
  /* Default font, size, and margins */
}

.header_red {

 height: 32px;
 background-color: #e02020;
 margin: 8px 0; 

}

.header_purple {

  height: 16px;
  background-color: #b620e0;
  margin: 8px 0; 
 
 }

.header_blue{

  height: 8px;
  background-color: #6236ff;
  margin: 8px 0; 
 
 }
 
 .mis-avant {

display: flex;
max-width: 1280px;
margin-left: auto;
margin-right: auto;

 } 

 .mis-avantrouge {

  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/bg-red.svg);
  background-position: left bottom;
      background-size: auto 100%;
  
   } 


   .mis-avantviolet {

    display: flex;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bg-violet.svg);
    background-position: left bottom;
        background-size: auto 100%;
    
     } 


     .mis-avantbleu {

      display: flex;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      background-image: url(../img/bg-blue.svg);
      background-position: left bottom;
          background-size: auto 100%;
      
       } 

 .mis-avant_content,
 .mis-avant__illu 
 
 {
  flex-basis: 320px;
  flex-grow: 1;

 }

 .mis-avant_content,
 .mis-avant__illu2
 
 {
  flex-basis: 320px;
  flex-grow: 1;

 }


 .mis-avant_content,
 .mis-avant__illu3
 
 {
  flex-basis: 320px;
  flex-grow: 1;

 }

 .mis-avant__description {

  padding-top: 0;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  text-align: justify;

 }

 .mis-avant__title {

  font-size: 24px;
  font-weight: 700;
  text-align: center;

 }

 .mis-avant_image {

display: block;
max-width: 70%;
mix-blend-mode: darken;

 }


 .mis-avant_image2 {

  display: block;
  max-width: 70%;
  mix-blend-mode: darken;
  
   }


   .mis-avant_image3 {

    display: block;
    max-width: 70%;
    mix-blend-mode: darken;
    
     }

 

 .mis-avant__illu {

background-image: url(../img/bg-yellow.svg);
background-position: left bottom;
background-size: auto 100%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-left: 25px;

 }

 .mis-avant__illu2 {

  background-image: url(../img/bg-orange.svg);
  background-position: left bottom;
  background-size: auto 100%;
  margin-top: 35px;
  margin-right: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
   }


   .mis-avant__illu3 {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
     }

 p {

font-size: 16px;
color: #231f20;
margin: 34px 0;

 }



  .button {

    border: solid 4px #fcce00;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #fcce00;
    padding: 10px

  }

  .button2 {

    border: solid 4px #ff6b00;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ff6b00;
    padding: 10px

  }


  .button3 {

    border: solid 4px #e02020;
    border-radius: 15px;
    display: block;
    max-width: 200px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #e02020;
    padding: 10px

  }


}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/